.fromContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
.fromContainer button{
  padding: 7px 185px;
  margin-right: 8rem;
}  
.fromContainer p{
  margin: 1rem 0 1rem 6rem;
}