.loginFromContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
.loginFromContainer button{
  width: 550px;
}  
.loginFromContainer p{
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}