.loginFromContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
.loginFromContainer button{
  padding: 7px 189px;
  margin-right: 8rem;
}  
.loginFromContainer p{
  margin: 1rem 0 1rem 7.5rem;
}